@import 'variables';

.button {
  padding: .3rem .5rem;
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  margin: 0;
  border: none;
  background: $bg-col2;
  border: .1rem solid $bg-col2;
  height: 100%;
  cursor: pointer;
  &:hover {
    background: $bg-col3;
    border-color: $bg-col3;
  }
  &[disabled] {
    opacity: .7;
    background-color: $bg-col2;
    border-color: $bg-col2;
  }
}

.button--fullsize {
  width: 100%;
  display: block;
}

.button--rounded {
  border-radius: .3rem;
}

.button--rounded-left {
  border-radius: .3rem 0 0 .3rem;
}

.button--rounded-right {
  border-radius: 0 .3rem .3rem 0;
}

.button--right {
  margin-top: .3rem;
  margin-left: 70%;
}

.button--center {
  display: block;
  margin: .3rem auto;
}
