@import 'pokedex';
@import 'pokemonImage';
@import 'guessingGameForm';
@import 'buttons';

// (1/2) Default rules:

html {
  // set up rem unit (1rem = root font-size)
  font-size: 2.5vh;
}

body {
  margin: 0;
  font-family: Arial;
  min-width: 20rem;
  background: #eee;
}

.body--dark{
  background: #666;
}

.title {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.game {
  width: 90%;
  margin: 0 auto;
}

// (1/2) Landscape rules:

@media screen and (orientation: landscape) {
  html {
    // set up rem unit
    font-size: 2vh !important;
  }
  .title {
    margin: 0;
  }
  .game {
    width: 16rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  body {
    min-width: auto;
    width: 70vw;
    margin: 0 auto;
  }
}
