@import 'pokedex';
@import 'pokemonImage';
@import 'guessingGameForm';
@import 'buttons';
@import 'completeModal';
@import 'hint';
@import 'variables';

// (1/2) default rules:

html {
  // set up rem unit (1rem = root font-size)
  font-size: 3vw;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background: $bg-col1;
  width: 100vw;
  height: 100vh;
}

#app-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  background: $bg-col5;
  display: none;
}

.modal-bg--open{
  display: block;
  opacity: .7;
}

.title {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0;
}

.game {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 90%;
  margin: 0 auto;
}

.progress-bar {
  z-index: -2;
  margin-top: 1rem;
  width: 100%;
  line-height: 2rem;
  background: $bg-col3;
  color: $col3;
  position: relative;
  text-align: center;
}

.progress-bar__progress {
  z-index: -1;
  position: absolute;
  background: $bg-col4;
  top: 0;
  width: 0;
  height: 100%;
}

.progress-bar__value {
  // position: absolute;
  display: block;
  line-height: 2rem;
  width: 100%;
}

.credits {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: .7rem;
}

.credits__link {
  font-weight: bold;
  text-decoration: none;
  background: $bg-col5;
  color: $col3;
  padding: .3rem .6rem;
  border-radius: .2rem;
}

// (2/2) Landscape rules:

@media screen and (orientation: landscape) {
  html {
    // set up rem unit
    font-size: 2.5vh;
  }
  .title {
    margin: 0;
  }
  .game {
    width: 40vh;
    min-width: 15vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  body {
    min-width: auto;
    margin: 0;
  }
}
