@import 'variables';

// (1/2) default rules

.pokedex {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height:100%;
  background: $bg-col1;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.pokedex-header {
  height: 15vw;
  display: flex;
  align-items: center;
}

.pokedex-header__title {
  display: inline-block;
  line-height: 100%;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.5rem;
  width: 80%;
  padding: 0 1.5rem;
}

.pokedex-header__title__info {
  font-size: 80%;
  margin-left: .6rem;
  font-weight: normal;
  font-style: italic;
  color: $col2;
}

.pokedex-header__exit-btn {
  position: absolute;
  font-size: 1.5rem;
  display: inline-block;
  width: 10vw;
  line-height: 10vw;
  top: 1vw;
  right: 1vw;
  background: $bg-col2;
  border-radius: 50%;
  color: $col1;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: $bg-col3;
  }
}

.pokedex__body {
  display: flex;
  flex-direction: column;
  height: calc(100% - 15vw);
  // height: 90%;
}

.pokedex__details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.pokedex__list {
  border-top: .1rem solid $bg-col2;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: scroll;
}

.stats {
  display: inline-block;
  width: 40%;
  margin: 1vw;
  font-size: 3vw;
}

.stats__stat {
  font-size: 1em;
  display: block;
  position: relative;
  margin: .5rem;
  border-bottom: .3vw solid $bg-col2;
}

.stat__label {
  text-align: left;
  position: relative;
  left:0;
}

.stat__value {
  text-align: right;
  position: absolute;
  right: 0;
}

.profile {
  font-size: 2vw;
}

.bio {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  height: 1.2em;
  text-align: center;
  font-size: 1em;
  line-height: 1.2em;
  margin: 2vw auto;
  white-space: nowrap;
}

.bio__id {
  color: $col2;
  font-size: 1.2em;
}

.bio__name {
  color: $col1;
  font-size: 1.2em;
  font-weight: bold;
}




@media screen and (orientation: landscape) {
  
  // (2/2) landscape rules:

  .pokedex {
    overflow: visible;
    display: flex;
    flex-direction: column;
    width: 80%;
    height:80%;
    margin-left: 10vw;
    margin-top: 10vh;
    min-height: 16rem;
    box-sizing: border-box;
  }

  .pokedex-header {
    height: 10%;
    display: block;
    width: 100%;
  }
  
  .pokedex-header__title {
    box-sizing: border-box;
    border-bottom: .1rem solid $bg-col2;
    // line-height: 1.2vh;
    width:  60%;
    height: 100%;
    display: inline-block;
    padding-top: 2.5vh;
    font-size: 3vh;
  }
  
  .pokedex-header__exit-btn {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    width: 3rem;
    height: 3rem;
    line-height: 1.5rem;
    padding: .65rem 0 .85rem;
    border-radius: 50%;
    z-index: 10;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.5rem;
  }

  .pokedex__body {
    flex-direction: row-reverse;
    height: 90%;
  }

  .pokedex__details {
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: center;
    width: 40%;
    height: 111.11%;
    position: relative;
    bottom: 11.11%; // 10/90 * 100
    border-left: .1rem solid $bg-col2;
    overflow-y: auto;
    min-height: 16rem;
  }

  .pokedex__list {
    border: none;
    display: inline-flex;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;
    overflow-y:scroll;
  }

  .profile {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    margin: .5rem 0 .8rem;
  }
  
  .stats {
    display: block;
    width: 70%;
    font-size: 1.5vw;
  }

  .stats__stat {
    border-width: .2vh;
  }

  .bio {
    width: 80%;
  }
}
