// (1/2) Portrait rules:

.image-container {
  background-image: none !important;
}

.image-container--loading {
  background: #ccc url("../assets/spinner.gif") no-repeat center/30% !important;
}

.image-container--game {
  position: relative;
  box-sizing: border-box;
  margin: 2.5rem auto 2rem;
  padding: .5rem;
  background: #ccc;
  border-radius: 50%;
  width: 40vw;
  height: 40vw;
}

.image-container.image-container--list {
  position: relative;
  box-sizing: border-box;
  background: #ccc;
  border-radius: 50%;
  padding: 20% 0 0 0;
  width: 20%;
  margin: 2%;
  height: 0;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: #aaa !important;
  }
}

.image-container.image-container--details {
  position: relative;
  box-sizing: border-box;
  background: #ccc;
  border-radius: 50%;
  padding: 25vh 0 0 0;
  width: 25vh;
  height: auto;
  display: inline-block;
}

.image-container__image {
  position: absolute;
  display: block;
  opacity: 1;
  left: 0;
  top: 0;
  margin: 5%;
  width: 90%;
  height: 90%;
  transition: all .5s;
}

img:not([src]) {
  visibility: hidden;
}

.image-container__image--loading {
  opacity: 0 !important;
}

@media screen and (orientation: landscape) {

  .image-container--game {
    width: 25vh;
    height: 25vh;
    min-width: 10vw;
    min-height: 10vw;
  }

  .image-container.image-container--details {
    padding-top: 65%;
    width: 65%;
  }

  .image-container.image-container--list {
    padding: 20% 0 0 0;
    width: 20%;
    margin: 2.4%;
  }
}
